# Example key.properties file for production builds.
# Rename this file to "key.properties" and fill in your details.
# DO NOT commit "key.properties" to version control! It is gitignored.

storePassword=YOUR_STORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=YOUR_KEY_ALIAS
storeFile=../app/your-release-key.jks
